#layout-footer{
    color:white;
    a{
        color:white;
        text-decoration: none;
    }
    background-color:black;
    padding:5px 10px;
    display:flex;
    justify-content: flex-start;

    .footer-nav{
        ul{
            list-style-type: none;
            display:flex;
           li{
           
            margin-left:10% ;

           }
            
        }
    }
}