.home-container{
    background-color:white;
    margin-left:40px;
    //width:50%;
    height:100%;
    margin-top:0px;
    display:flex;

    color:blue;
        #feed-posts{
            display:flex;
            flex-direction: column;
            width:70%;
            padding:10px;

            h4{
                color:red;

            }
            form{
                background-color:black;
                input[type=submit]
                 {
                 background-color:#FA87F5;
       
                color:white;
                border:1px solid #87CEFA;

                 }
                 textarea{

                    color:red;
                    width:50%;
                    height:100px;
                    background-color:purple;
                    border:1px solid red;
                    border-radius:2%;

                 }
            }
            #display{
                background-color:blueviolet;

                ul{
                    li{
                        list-style-type: none;
                        background-color:aqua;
                        margin-right:50px;
                        
                        p{
                            color:red;

                        }
                        .post-comments{
                            .post-comments-list{
                                color:black;
                            }
                        }
                    
                        
                    }
                }
            }


         }
         #user-friends{
             width:30%;
             padding:10px;
             border-left:1px solid purple;
             height:100%;
         }
}
    