body{
    margin:0;
    //text-align: center;
    background-color:aqua;
    #layout-main{
        height:85%;
        //color:#87CEFA;
       
        //background-color:black;

        
       
    }
}